Package: com.yourcompany.relogin
Name: relogin
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Edgar Aroutiounian
Author: Edgar Aroutiounian
Section: Tweaks
